h1 {
    font-family: serif;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

.contact-links a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline;
}


.contact-links a:first-child {
    color: blue;
}


.contact-links a:last-child {
    color: purple;
}